{% import 'macros/form.html' as form %}
{% set data = data or {} %}
{% set errors = errors or {} %}

{% set action = form_action or h.url_for(c.link) %}

<form
    id="resource-edit"
    class="dataset-form
    dataset-resource-form form-horizontal"
    method="post"
    action="{{ action }}"
    data-module="basic-form resource-form"
    enctype="multipart/form-data"
>
    {% block package_ontology_fields %}
        {% block stages %}
            {# An empty stages variable will not show the stages #}
            {% if not c.pkg %}
                {{ h.snippet('package/snippets/stages.html', stages=['complete','complete','active'], pkg_name=pkg_name) }}
            {% endif %}
        {% endblock %}

        <div data-module="custom-fields">

            <div class="row-fluid" style="text-align:center;font-weight:bold;">
                <div class="span6">Ontology</div>
                <div class="span6">Node</div>
            </div>

            {%if c.dataset_ontologies%}
                {% set dataset_ontologies = c.dataset_ontologies %}
                {% set dataset_ontologies = dataset_ontologies + [{}]%}
            {%else%}
                {%set dataset_ontologies = [{},{},{}]%}
            {%endif%}

            {% for ontology in dataset_ontologies %}

                {% set index = loop.index0 + (extras|count) %}
                {% if dataset_ontologies[index] %}
                    {% set ontology = dataset_ontologies[index] %}
                {% else %}
                    {% set ontology = {'ontology':'', 'node':''} %}
                {%endif%}
                {% set nodes = [] %}

                <div class="control-group control-custom">
                    <div class="row-fluid">
                        <div class="span6">
                            <select id="format_{{index}}" name="format_{{index}}">
                                <option value="" disabled selected>Select a ontology</option>
                                {% for ontologies in c.ontologies  %}
                                  {% set ontology_id = ontologies.id %}
                                  <option
                                          value="{{ ontologies.id }}"
                                          {% if ontologies in data.get('ontologies', []) %}selected="selected"{% endif %}
                                  >
                                      {{ ontologies.name }}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="span6">
                            <select name="format_{{index}}" id="format_{{index}}">
                                <option value="" disabled selected>Select a node</option>
                                {% for nodes in nodes  %}
                                    {% if nodes.ontology_id != ontology_id %}
                                        <option value="{{ nodes.id }}" {% if nodes in data.get('nodes', []) %}selected="selected"{% endif %}>{{ nodes.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class=""><input id="id-{{ index }}" type="hidden" name="id_{{ index }}" value="{{ontology['id']}}" /></div>
                    </div>
                </div>

            {% endfor %}
            <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Save ontologies') }}</button>
        </div>
    {% endblock %}
</form>
